{% extends "base.html" %}

{% block title %} Search {% endblock %}

{% block content %}

<div class="card mx-auto d-block p-5 shadow-sm" style="width: 60rem;">
    <div class="card-body">
      <form class="row">

        <div class="col">
          <label class="font-weight-bold text-muted">Titulo</label>
          <div class="input-group mb-3 ">
            <span class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="material-icons md-48 mr-2">title</i>
              </div>
            </span>
            <input type="text" class="form-control py-2 border-left-0 border" placeholder="Escribe un titulo"
              aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <label class="font-weight-bold text-muted">Autor</label>
          <div class="input-group mb-3 ">
            <span class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i
                  class="material-icons md-48 mr-2">person</i>
              </div>
            </span>
            <input type="text" class="form-control py-2 border-left-0 border"
              placeholder="Escribe el nombre de un autor" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <label class="font-weight-bold text-muted">Fecha</label>
          <div class="row">
            <div class="input-group mb-3 col">
              <span class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0"><i
                    class="material-icons md-48 mr-2">today</i>
                </div>
              </span>
              <input type="text" class="form-control py-2 border-left-0 border" placeholder="Desde"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 col">
              <span class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0"><i
                    class="material-icons md-48 mr-2">today</i>
                </div>
              </span>
              <input type="text" class="form-control py-2 border-left-0 border" placeholder="Hasta"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>


        <div class="col">
          <label class="font-weight-bold text-muted">Tipo de publicación</label>
          <div class="mt-2 ml-5">
            <div class="input-group">
              <input type="checkbox" name="checkbox" id="article" value="value">
              <label for="article" class="ml-3">Artículo</label>
            </div>

            <div class="input-group">
              <input type="checkbox" name="checkbox" id="book" value="value">
              <label for="book" class="ml-3">Libro</label>
            </div>

            <div class="input-group">
              <input type="checkbox" name="checkbox" id="congress" value="value">
              <label for="congress" class="ml-3">Comunicación en congreso</label>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-around mt-5">

            <button type="reset" class="btn btn-danger"><i class="material-icons d-flex">clear</i></button>
            <a class="btn btn-success w-50" href="/results/">Buscar</a>
          </div>

        </div>

      </form>
    </div>
  </div>

{% endblock %}