{% extends "base.html" %}

{% block title %} Buscar {% endblock %}

{% block content %}

<div class="card mx-auto d-block p-5 shadow-sm" style="width: 60rem;">
    <div class="card-body">
      <form class="row" method="post">
        {% csrf_token %}

        <div class="col">
          <label class="font-weight-bold text-muted">Titulo</label>
          <div class="input-group mb-3 ">
            <span class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="material-icons md-48 mr-2">title</i>
              </div>
            </span>
            <input type="text" class="form-control py-2 border-left-0 border" placeholder="Escribe un titulo"
              aria-label="Username" aria-describedby="basic-addon1" name="titulo" id="titulo">
          </div>

          <label class="font-weight-bold text-muted">Autor</label>
          <div class="input-group mb-3 ">
            <span class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i
                  class="material-icons md-48 mr-2">person</i>
              </div>
            </span>
            <input type="text" class="form-control py-2 border-left-0 border"
              placeholder="Escribe el nombre de un autor" aria-label="Username" aria-describedby="basic-addon1"
              name="autor" id="autor">
          </div>

          <label class="font-weight-bold text-muted">Año</label>
          <div class="row">
            <div class="input-group mb-3 col">
              <span class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0"><i
                    class="material-icons md-48 mr-2">today</i>
                </div>
              </span>
              <input type="text" class="form-control py-2 border-left-0 border" placeholder="Desde"
                aria-label="Username" aria-describedby="basic-addon1" name="desde" id="desde">
            </div>

            <div class="input-group mb-3 col">
              <span class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0"><i
                    class="material-icons md-48 mr-2">today</i>
                </div>
              </span>
              <input type="text" class="form-control py-2 border-left-0 border" placeholder="Hasta"
                aria-label="Username" aria-describedby="basic-addon1" name="hasta" id="hasta">
            </div>
          </div>
        </div>


        <div class="col">
          <label class="font-weight-bold text-muted">Tipo de publicación</label>
          <div class="mt-2 ml-5">
            <div class="input-group">
              <input type="checkbox" id="articulo" value="value" name="articulo">
              <label for="article" class="ml-3">Artículo</label>
            </div>

            <div class="input-group">
              <input type="checkbox" id="libro" value="value" name="libro">
              <label for="book" class="ml-3">Libro</label>
            </div>

            <div class="input-group">
              <input type="checkbox" id="com_con" value="value" name="com_con">
              <label for="congress" class="ml-3">Comunicación en congreso</label>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-around mt-5">
            <button id="boton_buscar" type="reset" class="btn btn-danger"><i class="material-icons d-flex">clear</i></button>
            <input type="submit" class="btn btn-success w-50" value="Buscar">
          </div>

        </div>

      </form>
    </div>
  </div>

{% endblock %}