{% extends "base.html" %}

{% block title %} Resultados de subida {% endblock %}

{% block content %}

<div class="card mx-auto d-block p-5 shadow-sm" style="width: 80rem;">
    <div class="card-body">
      <form class="row">
        <div class="col">
            <label class="font-weight-bold text-muted">Referencias cargadas</label>
            <div class="mt-2 ml-5">
            <div class="input-group">
              <label for="article" class="ml-3">Artículo: </label>
            </div>

            <div class="input-group">
              <label for="book" class="ml-3">Libro:</label>
            </div>

            <div class="input-group">
              <label for="congress" class="ml-3">Comunicación en congreso:</label>
            </div>

            <div class="input-group">
              <label for="congress" class="ml-3">Total:</label>
            </div>
          </div>
        </div>
        <div class="col">
            <label class="font-weight-bold text-muted">Errores: </label>
            <hr>
            <textarea class="form-control" rows="10" disabled="true">
            {{desde}}
            {{hasta}}
            {{articulo}}
            {{libro}}
            {{con_con}}
            </textarea >
        </div>
      </form>
    </div>
</div>

{% endblock %}