{% extends "base.html" %}

{% block title %} Resultados de subida {% endblock %}

{% block content %}

<div class="card mx-auto d-block p-5 shadow-sm" style="width: 80rem;">
    <div class="card-body">
      <form class="row">
        <div class="col">
            <label class="font-weight-bold text-muted">Referencias cargadas</label>
            <div class="mt-2 ml-5">
            <div class="input-group">
              <label class="ml-2">DBLP: {{dblp_results}} </label>
            </div>

            <div class="input-group">
              <label class="ml-2">Ieee Xplore: {{ieee_results}}</label>
            </div>

            <div class="row">
              <label class="ml-2">Google Scholar: {{google_scholar_results}}</label>
            </div>

            <div class="input-group">
              <label class="ml-2">Total: {{results}}</label>
            </div>
          </div>
        </div>
        <div class="col">
            <label class="font-weight-bold text-muted">Errores:  {{ errors|length }}</label>
            <hr>
            <textarea class="form-control" rows="10" disabled="true">
              {% for error in errors %}
                {{error}}
              {% endfor %}
            </textarea >
        </div>
      </form>
    </div>
</div>

{% endblock %}