{% extends "base.html" %}

{% block title %} Subir {% endblock %}

{% block content %}

<div class="row justify-content-center mb-5">
          
  <a href="/buscar/">
  <button class="btn btn-secondary btn-lg active"><i class="material-icons">search</i>
  Ir a buscar</button>
  </a>

  <button onclick="'{% call_delete_all_data %}'" class="btn btn-secondary btn-lg active" style="margin-left: 35px;"><i class="material-icons">delete</i>
  Vaciar BBDD</button>
  </a>

  </div>

<div class="card mx-auto d-block p-4 shadow-sm" style="width: 40rem;">
    <div class="card-body">
    <div class="row justify-content-center mb-4">
        <h1>Subir</h1>
      </div>
      <form class="row" method="post">
      {% csrf_token %}
        <div class="col">
          <label class="font-weight-bold text-muted">Tipo de publicación</label>
          <div class="mt-2 ml-5">
            <div class="input-group">
              <input type="checkbox" name="articulo" id="articulo" value="value">
              <label class="ml-3">Artículo</label>
            </div>

            <div class="input-group">
              <input type="checkbox" name="libro" id="libro" value="value">
              <label class="ml-3">Libro</label>
            </div>

            <div class="input-group">
              <input type="checkbox" name="con_con" id="con_con" value="value">
              <label class="ml-3">Comunicación en congreso</label>
            </div>
          </div>

            <label class="font-weight-bold text-muted">Fecha</label>
          <div class="row">
            <div class="input-group mb-3 col">
              <span class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0"><i
                    class="material-icons md-48 mr-2">today</i>
                </div>
              </span>
              <input type="text" name="desde" id="desde" maxlength="4" class="form-control py-2 border-left-0 border" placeholder="Desde""
                aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 col">
              <span class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0"><i
                    class="material-icons md-48 mr-2">today</i>
                </div>
              </span>
              <input type="text" name="hasta" id="hasta" class="form-control py-2 border-left-0 border" placeholder="Hasta"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="d-flex flex-row justify-content-around mt-5">
            <button type="reset" class="btn btn-danger"><i class="material-icons d-flex">clear</i></button>
            <input type="submit" class="btn btn-success w-50" value="Subir"></button>
        </div>
        </div>

      </form>
    </div>
</div>


{% endblock %}